*{
    
    margin: 0;
    box-sizing: border-box;
    /*border: 1px red solid ;*/
    
}
img{
    vertical-align: top;
}
body{
    display: block;
    margin-top: 5% ;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;

}
header{
    width: 80%;
    margin: auto;
}
navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
logo img{
    width: 80px;
    height: auto;
}
nav{
    justify-content: space-around;
}
nav a{
    margin-left: 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
figure{
    max-height: 30%;
    min-height: 15%;
}
figure .bg-img{
    background-image: url('./images/rtx2060.jpg');
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
figure figcaption{
    background: rgba(4, 73, 34, 0.5);
    color: white;
    width: 100%;
    height: 40px;
    margin-top: -40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
} figure figcaption a{
    text-decoration: none;
    background-color: #09a442;
    color: white;
    height: 30px;
    width: 15%;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
}
main{
    width: 80%;
    padding-top: 20px;
    margin: auto;
    display: flex;
}
main section{
    width: 66%;
}
main section .titre{
    display: flex;
    flex-direction: row;
}
main section img{
    width: 20px;
    height: auto;
    margin-right: 10px;
    border: 1px solid grey;
}
main section p{
    margin-top: 10px;
    text-align: justify;
}
main aside{
    width: 33%;
    background-color: #09a442;
    margin-left: 2%;
    text-align: center;
    color: white;

}
main aside nav{
    display: flex;
    height: 50px;
    align-items: center;
    bottom: -100px;
    justify-content: flex-start;
    
}
aside h2{
    margin-top: 20px;
}
aside img{
    width: 100px;
    margin: 20px auto;
   
    
}
aside p{
    width: 80%;
    padding: auto 20%;
    text-align: center;
}
aside a{
    justify-content: space-between;
    list-style: none;
    color: white;
    bottom: 10px;

}
hr{
    width: 80%; 
    margin: auto;
    border: 2px solid #09a442;;
}
#vert{
    z-index: 1;
    position: relative;
    width: 0px;
    height: 0px;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 30px solid #09a442;
    left: 50%;

}
footer{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
}
footer .container{
    justify-content: space-between;
}
footer section{
    width: 35%;  
 }
footer .newsletter input{
     margin-bottom: 5px;
 }
footer .newsletter h6{
    margin-bottom: 20px;
}
footer .newsletter button{
    background-color: #09a442;
    color: white;
}
section img{
    width: 100px;
    height: 100px;
}
